* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: rgb(0, 0, 0);
}

/* Header/Blog Title */
.header {
    padding: 10px;
    text-align: center;
    background-color: #336B87;
    color: rgb(255, 255, 255);
}

.header h1 {
    font-size: 20px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
  float: left;
  width: 50%;
  padding: 0 20 0 0px;
}

.leftcolumn {
    float: left;
    width: 65%;}

/* Right column */
.rightcolumn {
    float: left;
    width: 35%;
    background-color: rgb(0, 0, 0);
    padding-left: 5px;
}

/* Fake image */
.fakeimg {
    background-color: white;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    color: rgb(255, 255, 255);
    background-color: #2A3132;
    padding: 10px;
    margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.responsive {
    max-width: 100%;
    height: auto;}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.tableheaderevm{
  text-align: center;
  border: 1px solid black;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
table {
  border-collapse: collapse;
  width: 100%;}
table, td, th {
  text-align: center;
  border: 1px solid black;}

#table-1 th:first-child{
  font-size: 15px;
  color: rgb(255, 255, 255);
  height: 15px;
  background-color: #763626;
}

#table-2 th{
  font-size: 15px;
  height: 25px
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: #90AFC5;
}

#table-3 th{
  font-size: 15px;
  height: 25px
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: #90AFC5;
}

#table-4 th{
  font-size: 15px;
  height: 15px
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: #90AFC5;
}
td{
  font-size: 15px;
  background-color: white;
  width: 400px;
}

#button {
  border: 1px;
  border-radius: 3px;
  background-color: white;
  height: 25px;
  width: 200px;
  color: black;
  position: relative;
}

#button:hover{
  background-color: black;
  color: white;
}

#monthButton {
  border: 1px;
  border-radius: 3px;
  background-color: white;
  height: 25px;
  width: 47px;
  color: black;
  text-align: center;
  font-size: 8px;
  position: relative;
}

#monthButton:hover{
  background-color: black;
  color: white;
}

#yearButton {
  border: 1px;
  border-radius: 3px;
  background-color: white;
  height: 25px;
  width: 150px;
  color: black;
  text-align: center;
  font-size: 10px;
  position: relative;
}

#yearhButton:hover{
  background-color: black;
  color: white;
}

#yearButton {
  border: 1px;
  border-radius: 3px;
  background-color: white;
  height: 25px;
  width: 150px;
  color: black;
  text-align: center;
  font-size: 10px;
  position: relative;
}

#yearButton:hover{
  background-color: black;
  color: white;
}

#camButton {
  border: 1px;
  border-radius: 3px;
  background-color: white;
  height: 25px;
  width: 100px;
  color: black;
  text-align: center;
  font-size: 10px;
  position: relative;
}

#camButton:hover{
  background-color: black;
  color: white;
}

#controlAccountButton {
  border: 1px;
  border-radius: 3px;
  background-color: white;
  height: 25px;
  width: 150px;
  color: black;
  text-align: center;
  font-size: 10px;
  position: relative;
}

#controlAccountButton:hover{
  background-color: black;
  color: white;
}

#p_one p{
  font-size: 30px;
  text-align: center;
}

#p_two p{
  font-size: 15px;
}

#textcontainer p{
  display: block;
  float: left;
}

#align_left p{
  float: left;
}

#align_right p{
  flaot: right;
}
