* {
    box-sizing: border-box;
}

/* Color Scheme

#88BDBC
#254E58
#112D32
#4F4A41
#6E6658
#132226
#A4978E
*/

body {
    font-family: Arial;
    padding: 10px;
    background: #6E6658;
}

/* Header/Blog Title */
.header {
    padding: 10px;
    text-align: center;
    background-color: #254E58;
    color: rgb(255, 255, 255);
}

.header h1 {
    font-size: 20px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #112D32;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.bottomnav {
    overflow: hidden;
    background-color: #ddd;
}

.bottomnav a {
  float:none;
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.bottomnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
  float: left;
  width: 50%;
  padding: 0 20 0 0px;
}

.leftcolumn {
    float: left;
    width: 65%;}

/* Right column */
.rightcolumn {
    float: left;
    width: 35%;
    background-color: #6E6658;
    padding-left: 5px;
}

/* Fake image */
.fakeimg {
    background-color: white;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    color: white;
    background-color: #4F4A41;
    padding: 10px;
    margin-top: 10px;
    border: 3px;
    border-color: black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.responsive {
    max-width: 100%;
    height: auto;}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.tableheaderevm{
  text-align: center;
  border: 1px solid black;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
table {
  border-collapse: collapse;
  width: 100%;}
table, td, th {
  text-align: center;
  border: 1px solid black;}

#table-1 th:first-child{
  font-size: 15px;
  color: rgb(255, 255, 255);
  height: 15px;
  background-color: #1B1924;
}

#table-2 th{
  font-size: 15px;
  height: 25px
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: #B5C1B4;
}

#table-3 th{
  font-size: 15px;
  height: 25px
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: #B5C1B4;
}

#table-4 th{
  font-size: 15px;
  height: 15px
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: #B5C1B4;
}
td{
  font-size: 15px;
  background-color: white;
  width: 400px;
}

.graphsButton-group button{
  background-color: #88BDBC;
  border: 1px solid #4F4A41;
  color: black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: table-cell;
  font-weight: bold;
  }

.graphsButton-group:after{
  content: "";
  clear:both;
  display: table;
}

.graphsButton-group button:not(last-child){
  border-right: none;
}

.graphsButton-group button:hover{
  background-color: rgb(124, 124,124);
  color: white;
  font-weight: bold;
}

.monthButton-group button{
  background-color: #88BDBC;
  border: 1px solid #4F4A41;
  color: black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: table-cell;
  font-weight: bold;
  }

.monthButton-group:after{
  content: "";
  clear:both;
  display: table;
}

.monthButton-group button:not(last-child){
  border-right: none;
}

.monthButton-group button:hover{
  background-color: rgb(124, 124,124);
  color: white;
  font-weight: bold;
}

.yearButton-group button{
  background-color: #88BDBC;
  border: 1px solid #4F4A41;
  color: black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  float: left;
  display: block;
  font-weight: bold;
  }

.yearButton-group:after{
  content: "";
  clear:both;
  display: block;
}

.yearButton-group button:not(last-child){
  border-right: none;
}

.yearButton-group button:hover{
  background-color: rgb(124, 124,124);
  color: white;
  font-weight: bold;
}

.camButton-group button{
  background-color: #88BDBC;
  border: 1px solid #4F4A41;
  color: black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: table-cell;
  font-weight: bold;
  }

.camButton-group:after{
  content: "";
  clear:both;
  display: table;
}

.camButton-group button:not(last-child){
  border-right: none;
}

.camButton-group button:hover{
  background-color: rgb(124, 124,124);
  color: white;
  font-weight: bold;
}

.controlAccountButton-group button{
  background-color: #88BDBC;
  border: 1px solid #4F4A41;
  color: black;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  float: left;
  display: block;
  font-weight: bold;
  }

.controlAccountButton-group:after{
  content: "";
  clear:both;
  display: table;
}

.controlAccountButton-group button:not(last-child){
  border-right: none;
}

.controlAccountButton-group button:hover{
  background-color: rgb(124, 124,124);
  color: white;
  font-weight: bold;
}


#p_one p{
  font-size: 30px;
  text-align: center;
}

#p_two p{
  font-size: 15px;
}

#textcontainer p{
  display: block;
  float: left;
}

#align_left p{
  float: left;
}

#align_right p{
  flaot: right;
}
